.card{
padding: 3%;
border-radius: 5px;
color: white;
background-color: rgba(0, 0, 0, 0.651);
height: 150px;
width: 300px;
position: relative;
overflow: hidden;

}
.outerCircle{
  position: absolute;
 
  /* color: linear-gradient(to left, #111f17, #B2FF59); */
  border: 20px solid ;
  /* border-image-source: ; */
  /* top: 0;
  right: 0; */
  /* margin-left: 1000px; */
  margin-top: -85px;
 margin-left: 200px;
  /* border-radius: 50%; */
  height: 120px;
  width: 120px;
 
 
}

.bordergradientpurple {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  height: 120px;
  width: 120px;
}